<footer class="question-footer">
	<div>
		<a href="{% url 'articles:likes' article.pk %}">
			{% if user in article.likes.all %}
				<b>Like</b>
			{% else %}
				Like
			{% endif %}
			{% if article.total_likes != '0' %}
				({{article.total_likes}})
			{% endif %}
		</a>
	</div>
	<div>
		<a href="{% url 'articles:dislikes' article.pk %}">
			{% if user in article.dislikes.all %}
				<b>Dislike</b>
			{% else %}
				Dislike
			{% endif %}
			{% if article.total_dislikes != '0' %}
				({{article.total_dislikes}})
			{% endif %}
		</a>
	</div>
	<div>
		<a href="{% url 'articles:article-question-creation-view' article.pk %}">Question
			{% if article.questions.all.count != 0 %}
				({{article.questions.all.count}})
			{% endif %}
		</a>
	</div>	
	{% if user == article.author %}
	<div>
		<a href="{% url 'articles:article-update-view' article.pk %}">Update</a>
	</div>	
	<div>
		<a href="{% url 'articles:article-deletion-view' article.pk %}">Delete</a>
	</div>
	{% endif %}		
</footer>