{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block mainbody%}
<section class="form-container-section">
    <section class="all-form-container">
        <section class="all-form-section">
            <fieldset>
            <form method="POST" enctype="multipart/form-data">
                    <header class="form-header">
                        <h2>Article-update</h2>
                    </header>
                    <hr>
                    {% csrf_token %}
                    {{ form.media }}
                    {{form|safe}}
                <div class="form-button">
                    <button type="submit">Update article</button>
                </div>
                
            </form>
            </fieldset>
        </section>
    </section>
</section>

{%endblock mainbody%}