{% load static %}
<div class="drop-down-options" id="drop-downs">
   <div class="sub-drop-down-options">
         <div class="user-info">
            <img src="{{user.profile_pic.image.url}}" alt="">
            <h3><a href="{% url 'accounts:user-profile-home-view' %}">{{user.full_name}}</a></h3>
         </div>
         <hr>
         <div>
            <div class="user-info">
               <img src="{% static 'images/reset_password.png' %}" alt="">
               <h3><a href="{% url 'password_reset' %}">Change password</a></h3>
            </div>
            <div class="user-info">
               <img src="{% static 'images/logout.png' %}" alt="">
               <h3><a href="{% url 'accounts:logout-page' %}">Logout</a></h3>
            </div>
         </div>
   </div>
</div>