{% load static %}
<div class="drop-down-options" id="humberger-drop-downs">
   <div class="sub-drop-down-options">
         <div class="user-info">
            <img src="{% static 'images/home.png' %}" alt="">
            <h3><a href="{% url 'homepage:homepage' %}">Home</a></h3>
         </div>
         <hr>
         <div>
            <div class="user-info">
               <img src="{% static 'images/courses.png' %}" alt="">
               <h3><a href="{% url 'courses:course-home-view' %}">Courses</a></h3>
            </div>
            <div class="user-info">
               <img src="{% static 'images/courses.png' %}" alt="">
               <h3><a href="{% url 'articles:article-home-view' %}">Articles</a></h3>
            </div>
            <div class="user-info">
               <img src="{% static 'images/q_and_a.png' %}" alt="">
               <h3><a href="{% url 'qanda:qanda-home-view' %}">Q&A</a></h3>
            </div>
          </div>
   </div>
</div>