{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
        <!-- Bootstrap CSS -->

    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_form.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/drop_down.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/qanda.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/course.css' %}">
    
    <title>{% if title %}
            {{title}}
            {% else %}
            ExplainIT
            {% endif %}
    </title> 
  </head>

  <body>
    {% include 'homepage/navbar.html' %}
    <div class="container">
        {% include 'homepage_snippets/flash_message.html' %}
       {% block mainbody%}{%endblock%} 
    </div>
    {% include 'homepage/footer.html' %}
    <script type="text/javascript" src="{% static 'js/drop_down.js' %}"></script>
  </body>
</html>
