{% load static %}
<header class="header">
   <nav class="navbar">
      <a href="{% url 'homepage:homepage' %}">
       <div class="logo">
          
       </div>
       </a>
         <div class="nav_bar_links">
            <ul>
               <div>
                  <li><a href="{% url 'courses:course-home-view' %}">COURSES</a></li>
               </div>
               <div>
                  <li><a href="{% url 'articles:article-home-view' %}">ARTICLES</a></li>
               </div>
               <div>
                  <li><a href="{% url 'qanda:qanda-home-view' %}">Q&A</a></li>
               </div>
               {% if not user.is_authenticated %}
                <div>
                  <li><a href="{% url 'accounts:login-page'%}">LOGIN | SIGNUP</a></li>
               </div>
               {% endif %}
            </ul>
         </div>
         <div class="humbergor_icon">
            <img src="{% static 'images/humburger.png' %}"alt="" onclick="showHumbergerDropDown()">
         </div>
         {% if user.is_authenticated %}
         <div class="user_icon">
            <img src="{{user.profile_pic.image.url}}"alt="" onclick="showDropDown()">
         </div>
         {% endif %}
         {% include 'homepage_snippets/humberger_drop_down.html' %}
         {% if user.is_authenticated %}
            {% include 'homepage_snippets/drop_down.html' %}
          {% endif %}
   </nav>
</header>