{% load static %}
<header class="header">
   <nav class="navbar">
      <a href="{% url 'homepage:homepage' %}">
       <div class="logo">
          
       </div>
       </a>
      {% if user.is_authenticated %}
         <div class="nav_bar_links">
            <ul>
               <div>
                  <li><a href="{% url 'courses:course-home-view' %}">COURSES</a></li>
               </div>
               <div>
                  <li><a href="{% url 'qanda:qanda-home-view' %}">Q&A</a></li>
               </div>
            </ul>
         </div>
         <div class="humbergor_icon">
            <img src="{% static 'images/humburger.png' %}"alt="" onclick="showHumbergerDropDown()">
         </div>
         <div class="user_icon">
            <img src="{{user.profile_pic.image.url}}"alt="" onclick="showDropDown()">
         </div>

         {% include 'homepage_snippets/humberger_drop_down.html' %}
         {% include 'homepage_snippets/drop_down.html' %}
      {% else %}

      
         <div class="nav_bar_links">
            <ul>
                <div>
                  <li><a href="{% url 'courses:course-home-view' %}">COURSES</a></li>
                </div>
                <div>
                  <li><a href="#teachers">TEACHERS</a></li>
                </div>
                <div>
                  <li><a href="#about">ABOUT</a></li>
                </div>
                <div>
                  <li><a href="{% url 'qanda:qanda-home-view' %}">Q&A</a></li>
                </div>
                <div>
                  <li><a href="{% url 'accounts:login-page'%}">LOGIN | SIGNUP</a></li>
               </div>
            </ul>
         </div>
      {%endif%}
   </nav>
</header>