{% extends 'homepage/base.html' %}
{% block mainbody %}
{% load static %}
{% load hitcount_tags %}
<!-- OUR COURSES STARTS HERE -->
<section class="course-detail-container">
    <div class="course-article-header-container">
       <div class="course-header">
           <small><a>{{course.course_title}}
            {% get_hit_count for course %}-views</a></small>
           <small>By <a href="{% url 'accounts:account-detail-view' course.course_instructor.pk %}"><strong>{{course.course_instructor.full_name}}</strong></a></small>
           <small><a href="{% url 'courses:course-students' course.pk %}">
            {% if course.total_students != 0%}
              {{course.total_students}}-students 
            {% endif %}
            </a>
          </small>
            <small><i>Published on {{course.date_created}}</i></small>
            {% if user == course.course_instructor %}
            <small><a href="{% url 'courses:course-update-view' course.pk %}">Update</a> <a href="{% url 'courses:course-deletion-view' course.pk %}">Delete</a>  <a href="{% url 'courses:article-creation-view' course.pk %}">Add article</a></small>
            {% endif %}
       </div>
       <div class="enroll">
            <a href="{% url 'courses:enroll' course.pk %}">
                {% if user in course.students.all %}
                    <b>Enrolled</b>
                {% else %}
                    Enroll
                {% endif %}
            </a>
       </div>
    </div>  
    <div class="course-detail-article">
        <p>{{course.course_description|safe}}</p>
    </div>
    <hr>
    
    {% for article in course.articles.all %}
      <div class="course-detail-article">
          {{article.article_content|safe}}
          {% if user == article.course.course_intsructor %}
          <small><a href="{% url 'courses:article-update-view' article.pk %}">edit</a>
          </small>
          <small>
           <a href="{% url 'courses:article-delete-view' article.pk %}">delete</a> 
          </small>
          {% endif %}
      </div>
    {% endfor %}
   
</section>

{% endblock mainbody%}