{% extends 'homepage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block mainbody%}
<section class="all-form-container">
	<section class="all-form-section">
			<fieldset>
				<div class="fieldset-header">

				</div>
				<hr>
				<h3>New Account</h3>
				<h3>Please complete all fields!</h3>
				<form method="POST">
					{% csrf_token %}
					{{form|crispy}}
					<div class="form-button">
						<button type="submit">Register</button>
					</div>
				</form>
				<p>Your information is secure</p>
				<p>By creating profile you agree to out <a href="{% url 'accounts:terms-of-service-page' %}">
					<strong>terms of service</strong></a>
				</p>
			</fieldset>
	</section>
</section>
{%endblock mainbody%}