::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background: #fff;

}
::-webkit-scrollbar-thumb {
    background: #ccc;
}
::-webkit-scrollbar-button{
    display: none;
}

body {
    color: #484848;
    font-size: 14px;
    font-family: 'Roboto slab', Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    display: block;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 90px;
}
.container .warning{
    color: red;
    font-size: 20px;
}
.alert-success, .alert-info{
    width: 80%;
    height: 60px;
    opacity: 30%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

#alert-message{
        color: #fff;
}
.alert-info{
    background-color: red;
}
.alert-success{
    background-color: green;
}
.alert-image{
    height: 80%;
    width: 40px;

}

.alert-image img{
    height: 30px;
    width: 30px;
    margin-top: 15px;
}
@media all and (max-width: 900px){
    .container{
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 500px){
    html, body {
	   color: #000;
	   width: 100%;
	   margin: 0px;
	   padding: 0px;
	   overflow-x: hidden;
    }
}
