.auth-section{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.center-content{
	width: 60%;
	padding: 0px;
	margin: 0px;
}
.question-sth-you-know-container{
	height: 120px;
	background-color: red;
	border-radius: 	5px;
	border: 1px solid #ccc;
	background-color: #fff;
	display: 	flex;
}
.user-pp{
	width: 60px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
}

.user-pp img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
} 

.question-sth-you-know-form-container{
	width: 	90%;
	padding: 10px 0px;
	overflow: hidden;
}

.question-sth-you-know-form-container a{
	text-decoration: 	none;
	color: gray;
}

.question-sth-you-know-form {
	border: 1px solid #ccc;
	width: 90%;
	border-radius: 	20px;
	padding: 	10px;
	font-family: 	sans-serif;
	line-height: 	20px;
	
}

.question-option-container{
	display: 	flex;
	justify-content: 	center;
	padding: 	10px;
}
.question-option-container span{
	padding: 	10px;
}
.question-option-container span a{
	text-decoration: 	none;
	color: gray;
}
.question-container{
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	border-radius: 	5px;
}
.question-header{
	display: flex;
	height: 60px;
}
.about-question-author{
	display: flex;
	flex-direction: column;
}
.question-author-pp{
	width: 50px;
}
.question-author-pp img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;

}
.about-question-author{
	padding-top: 10px;
	color: gray;
}

.about-question-author a{
	text-decoration: none;
	color: gray;
	font-weight: bold;	
}
.about-question-author small{
	margin-top: 5px;
}

.about-question-author small a{
	color: gray;
	font-weight: bold;
}
.question-body{
	margin: 10px;
}
.question-footer{
	min-height: 60px;
	background-color: #F5F5F5;
	border-top: 1px solid #ccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.question-footer div{
	text-decoration: none;
	padding: 10px;
	padding-top: 20px;
	display: inline-block;
	vertical-align: middle;
}
.question-footer div a{
	text-decoration: none;
	color: gray;
	font-weight: 500;
	font-family: sans-serif;
}


@media all and (max-width: 900px){
	.auth-section{
		justify-content: safe;
	}
	.center-content{
		width: 80%;
	}
}

@media all and (max-width: 600px){
	.center-content{
		width: 100%;
		margin: 0px;
	}
}