{% extends 'homepage/base.html' %}
{% load static %}
{% block mainbody%}

{% load humanize %}
<section class="auth-section">
		<div class="center-content">
			{% for question in filtered_questions %}
			<article class="question-container">
				<header class="question-header">
					<div class="user-pp">
							<img src="{{question.author.profile_pic.image.url}}">
					</div>
					<div class="about-question-author">
						<a href="{% url 'accounts:account-detail-view' question.author.pk %}">{{question.author.full_name}}</a>
						<small>
							{% if question.date_difference < '1' %}
							{{question.date_updated|naturaltime}}
							{% else %}
							{{question.date_updated}}
							{% endif %}
						</small>
					</div>
				</header>
				<div class="question-body">
					{% if question.question_content|length > 400%}
                   		<p>{{ question.question_content|safe|truncatechars:400 }}<a href="{% url 'qanda:answer-creation-view' question.pk %}"><button  id="myBtn">read detail</button></a></p>
                   	{% else %}
                   		<p>{{ question.question_content|safe}}</p>
                   	{% endif %}
				</div>
			{% include 'qanda_snippets/options_under_question.html' %}
			</article>
			{% endfor %}
		</div>
	</section>
{%endblock mainbody%}